<%= link_to('Create new book', new_book_path) %>
<ul>
<% @books.each do |book| %>
<li>
<%= book.title %>
<%= book.author %>
<%= book.released_date %>
<%= link_to('edit', edit_book_path(book.id)) %>
</li>
<% end %>
</ul>
